<ul class="sidebar-nav">
  <li>
    <a href="/inventory">Home</a>
  </li>
  <li>
    <a href="/inventory/dairy">All dairy</a>
  </li>
  <li>
    <a href="/inventory/meat">All meat</a>
  </li>
  <li>
    <a href="/inventory/produce">All produce</a>
  </li>
  <li>
    <a href="/inventory/seafood">All seafood</a>
  </li>
  <li>
    <hr />
  </li>
  <li>
    <a href="/inventory/dairy/create">Create new dairy</a>
  </li>
  <li>
    <a href="/inventory/meat/create">Create new meat</a>
  </li>
  <li>
    <a href="/inventory/produce/create">Create new produce</a>
  </li>
  <li>
    <a href="/inventory/seafood/create">Create new seafood</a>
  </li>
</ul>
